build
composer.lock
docs
vendor
coverage
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/jslint.xml
/.idea/$CACHE_FILE$
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/compiler.xml
/.idea/composerJson.xml
/.idea/deployment.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/PessimisticQueue.iml
/.idea/php.xml
/.idea/php-test-framework.xml
/.idea/vcs.xml
